<!DOCTYPE html>
<html lang="en">
<head prefix="og: http://ogp.me/ns#">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@Html.Raw(ViewBag.Title)</title>
    @RenderSection("metatags", false)

    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link href="~/Themes/default/Content/css/fonts.css" rel="stylesheet" />
    @Styles.Render("~/Themes/default/Content/css/main")
    @Styles.Render("~/Themes/default/Content/style")
    <link rel="stylesheet" href="~/Themes/default/Content/css/chosen.min.css" />
    <!--Jquery Library-->
        @RenderSection("styles", false)
        <script src="~/Scripts/jquery-1.12.4.min.js"></script>
    @*<script src="@Url.Content("~/Themes/default/Content/js/jquery.js")"></script>*@
    @RenderSection("scripts2", required: false)

    @Html.Partial("_script_googleanalystic")
</head>

<body>

    <!--Kode Wrapper Start-->
    <div class="kf_wrapper">
        @Html.Partial("_HeaderPartial")
        
        <!--Main Banner Wrap Start-->
        @RenderSection("MainBanner", false)
        <!--Main Banner Wrap End-->

        <!--Content Wrap Start-->
        <div class="kf_property_content_wrap">
            @RenderBody()
        </div>
        <!--Content Wrap End-->
    </div>
    
    @Html.Partial("_FooterPartial")

    @Scripts.Render("~/Themes/default/Content/js/main")
    <!--Pretty Photo JavaScript-->
    <script src="@Url.Content("~/Themes/default/Content/js/jquery.prettyPhoto.js")"></script>
    <!--Number Count (Waypoints) JavaScript-->
    <script src="@Url.Content("~/Themes/default/Content/js/waypoints-min.js")"></script>
    <!-- Chosen Script Javascript -->
    <script src="@Url.Content("~/Themes/default/Content/js/chosen.jquery.min.js")"></script>
    <!--Map JavaScript-->
    <!--Custom JavaScript-->
    @Scripts.Render("~/Themes/default/Content/js/custom")
   

    @RenderSection("scripts", required: false)
    


</body>
</html>
